<div ng-controller="NegotiationController">
  <div ng-show="negotiating">
    NEGOTIATING!!
    <div id="place">
      <select ng-model="placeCategory" ng-options="c.name group by c.category for c in placeCategories track by c.catId" ng-change="updatePlaces(); pushPlaceCategoryUpdate()"></select>
      <select ng-model="place" ng-options="p.name for p in places track by p.place_id" ng-change="pushPlaceUpdate()"></select>
    </div>

    <div id="chat">
      <div id="messages">
        <div class="message" ng-repeat="chatMessage in chatMessages">
          <span class="sender">{{chatMessage.sender}}</span>
          <span class="text">{{chatMessage.text}}</span>
        </div>
      </div>
      <form ng-submit="sendMessage()">
        <input type="text" ng-model="messageDraft" />
        {{messageDraft}}
      </form>
    </div>
  </div>
</div>
