<div ng-controller="SessionController">
  <div ng-show="inProgress">
    IN PROGRESS!!
    <div id="timer">
      
    </div>
    <button ng-click="endTutoring()">End tutoring</button>
  </div>
</div>
