<div id="learn" ng-app="tutor">

  <div ng-controller="LearnController as learnCtrl">

    <%= render 'session' %>
    <%= render 'negotiate' %>

    <div class="panel panel-primary">
      <div class="panel-heading">Live tutor map for your class</div>
      <div class="panel-body">
        <form class="form-inline" role="form" ng-hide="selectedCourse">
          <select class="form-control" ng-model="subjectCode" ng-change="updateCourseNumbers(); courseNumber = null">
            <option ng-repeat="subject in subjects" value="{{subject.code}}" ng-selected="subject.code == subjectCode">
              {{subject.code}}
            </option>
          </select>

          <select class="form-control" ng-model="courseNumber">
            <option ng-repeat="course in courses" value="{{course.catalog_nbr.trim()}}" ng-selected="course.catalog_nbr.trim() == courseNumber">
              {{course.catalog_nbr.trim()}}
            </option>
          </select>

          <button ng-click="showTutors()" class="btn btn-default">Show tutors</button>
        </form>

        <div ng-show="selectedCourse">
          Showing online tutors for {{selectedCourse}}
          <button ng-click="requestTutor()" class="btn btn-default">Request a tutor</button>
        </div>

      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <div ng-controller="MapController">
          <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-markers models="tutors"
              idKey="id"
              coords="'coords'"></ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
        </li>
      </ul>

      
    </div>

  </div>

</div>
