<div ng-app="tutor">
  <div ng-controller="TeachController">
    <div ng-if="pendingOffer">
      THERE IS A PENDING OFFER!
      {{pendingOffer}}
      <button ng-click="acceptOffer()">Accept offer</button>
      <button ng-click="declineOffer()">Decline offer</button>
    </div>

    <%= render 'negotiate' %>
  </div>

</div>
